//variables
@colorCampo: #147a99;
@colorJugadas: #139963;
@colorSeleccion: #8c0e2b;

//Mixins
.gradiante( @color1, @color2 ){
	background: -webkit-linear-gradient(@color1, @color2);
	background: -moz-linear-gradient(@color1, @color2);
	background: -o-linear-gradient(@color1, @color2);
	background: linear-gradient(@color1, @color2);
}

*{
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.avatar {
	height: 60px;
    width: 60px;
    background-image: url('../img/question.png');
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    float: left;
    margin: 8px;
}

.error {
	color: red;
}

.usuario-login {
	font-family: 'Press Start 2P', cursive;
	font-size: 26px;
}

.btn {
	width: 100px;
	height: 35px;
	margin: 8px 0 0 0;
	cursor: pointer;
	background-color: #0e518c;
	color: white;
	border-radius: 5px;
	border: none;
	padding: 5px 10px;
	font-size: 10px;
	font-family: 'Press Start 2P', cursive;

	&:hover {
			background-color: lighten(#0e518c, 15%);
			border: 1px solid darken(#c0c0c0, 10%);
	};
}

.add-part {
	background-color: #09845d;
	&:hover {
		background-color: lighten(#09845d, 15%);
		border: 1px solid darken(#c0c0c0, 10%);
	};
}

.rotate_img {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	rotation: 90deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}


#contenedor {
	width: 100%;
	height: 100%;
	margin: auto;
	margin-top: 0px;

	.titulo {
		width: 100%;
		height: 56px;
		background-color: black;
		color: white;
		margin: 0;
		padding: 20px 0 0 20px;
		font-family: 'Press Start 2P', cursive;
		border-bottom: 10px solid red;
		vertical-align: middle;
	}
}

#minicontenedor {
	width: 1096px;
	margin: auto;
	height: 512px;
	margin-top: 24px;

	.subcontenedor {
		float: left;
		width: 548px;
		height: 548px;

		.subtitulo {
			text-align: center;
			font-family: 'Press Start 2P', cursive;
		}

		.tablero {
			float: left;
			width: 512px;
			height: 512px;
			margin: auto;
			border: 2px solid #000;

			.fila {
				width: 512px;
				height: 64px;

				.columna {
					width: 62px;
					height: 62px;
					float: left;
					border: 1px solid #c0c0c0;
					background-color: lighten(@colorCampo, 10%);
					cursor: pointer;
					position: relative;

					&:hover {
						background-color: lighten(@colorCampo, 25%);
						border: 1px solid darken(#c0c0c0, 10%);
					};

					img {
						max-width: 100%;
						max-height: 100%;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
					}
				}
			}
		}

		#tablero-jugadas {
			margin-right: 32px;
			
			.fila {
				.columna {
					background-color: lighten(@colorJugadas, 10%);
					&:hover {
						background-color: lighten(@colorJugadas, 25%);
						border: 1px solid darken(#c0c0c0, 10%);
					};
				}
			}
		}
	}
}

#info-contenedor {
	width: 1096px;
	margin: auto;
	margin-top: 24px;

	.jugador-contenedor {
		width: 249px;
		height: 192px;
		float: left;
		border: 2px solid #000;
		border-radius: 5px;
		margin-top: 5px;
		text-align: center;
		background-color: #242827;
		color: white;
		margin-right: 32px;

		.jugador {
			width: 220px;
			height: 76px;
			background-color: white;
			border-radius: 5px;
			color: black;
			font-family: 'Press Start 2P', cursive;
			font-size: 7px;
			margin: 13px;

			.jugador-data {
				float: left;
				text-align: left;
				margin: 8px;
			}

			p {
				padding-bottom: 2px;
				padding-left: 6px;
			}

			.title {
				padding-left: 0px;
				margin-bottom: 1px;
				color: #8c0e2b;
			}
		}
	}

	#login-contenedor {
		margin-right: 10px;
		width: 229px;
		height: 152px;
		padding: 20px 10px;

		h1 {
			font-family: 'Press Start 2P', cursive;
			font-size: 14px;
			margin-bottom: 20px;
		}

		#btn_login {
			margin-top: 15px;
			background-color: #09845d;

			&:hover {
				background-color: lighten(#09845d, 15%);
				border: 1px solid darken(#c0c0c0, 10%);
			};
		}
	}

	#opciones-contenedor {
		width: 512px;
		height: 192px;
		margin: auto;
		margin-bottom: 40px;
		margin-top: 5px;
		border: 2px solid #000;
		border-radius: 5px;
		float: left;

		.fil {
			width: 512px;
			height: 96px;

			.item {
				width: 126px;
				height: 90px;
				border: 1px solid #c0c0c0;
				float: left;
				position: relative;
				padding-top: 4px;

				.content_buttons {
					text-align: center;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
				}

				form {
					font-family: 'Press Start 2P', cursive;
					font-size: 8px;
					position: absolute;
					top: 30%;
					padding: 8px;

					p {
						float: left;
					}
				}
			}

			.selc {
				cursor: pointer;
				padding-top: 4px;
				position: relative;

				&:hover {
					background-color: lighten(@colorSeleccion, 15%);
					border: 1px solid #fff;
					color: white;
				};

				img {
					position: absolute;
					top: 15%;
				}

				.data_barco {
					font-family: 'Press Start 2P', cursive, Bold;
					font-size: 6px;
					position: absolute;
					bottom: 4px;
					left: 4px;
				}
			}

			#current {
				font-size: 8px;
				text-align: center;
				margin: 0px;
				padding: 0px;
				position: relative;
				padding-top: 4px;

				h3 {
					margin: 2px 0 0 0;
					padding: 0px;
					font-family: 'Press Start 2P', cursive;
				}

				img {
					position: absolute;
					right: 0;
					left: 0;
					top: 18px;
					bottom: 0;
					margin: auto;
					padding: 0px;
					width: 100px;
					height: 45px;
					border: 2px solid #000;
				}
			}
		}
	}
}